<%= f.fields_for :results do |results_field| %>
  <li>
    <ul class="list-group cword_answers">
      <li class="list-group-item list-group-item-success">
        <b><%= results_field.object.word.content %></b>
      </li>
      <% results_field.object.word.answers.each_with_index do |answer| %>
        <li class="list-group-item">
          <div class="row">
            <span class="col-md-9">
              <%= answer.content %>
            </span>
            <span class="col-md-3">
              <%= results_field.radio_button :answer_id, answer.id,
                disabled: results_field.object.answer.present? ||
                  @lesson.is_finished? %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
