@import 'bootstrap-sprockets';
@import 'bootstrap';

$border-color: #bbb;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #3e4d5c;
  direction: ltr;
  font: 400 14px 'Open Sans', Arial, sans-serif;
  background: #f9f9f9;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $border-color;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.input[type="radio"], input[type="checkbox"] {
    margin: 13px 0 0;
    line-height: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.img-header img {
  width: 30px;
  height: 30px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 4px;
}
.panel-heading {
  .navbar-form {
    padding: 0;
  }
}

.navbar-nav li a {
  line-height: 32px;
}

.search_category {
  float: right;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
}
