$active_color: #5b9bd1;
$profile_a_color: #93a3b5;
$profile_bottom_color: #f0f4f7;
$profile_user_title_color: #5a7391;
$profile_bg_hover_color: #fafcfd;
$profile_a_active_color: #f6f9fb;

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic img {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  float: none;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 200px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $profile_user_title_color;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: $active_color;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.profile-usermenu {
  margin-top: 30px;
  ul li {
    border-bottom: 1px solid $profile_bottom_color;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: $profile_a_color;
      font-size: 14px;
      font-weight: 400;
      i {
        margin-right: 8px;
        font-size: 14px;
      }
      &:hover {
        background-color: $profile_bg_hover_color;
        color: $active_color;
      }
    }
    &.active {
      border-bottom: none;
    }
    &.active a {
      background-color: $profile_a_active_color;
      border-left: 2px solid $active_color;
      color: $active_color;
      margin-left: -2px;
    }
  }
}

.profile-content {
  padding: 20px;
  min-height: 460px;
}
