<tr class="center" >
  <td><%= index + page_index %></td>
  <td><%= word.content %></td>
  <td>
    <% word.answers.each do |answer| %>
      <%= render partial: "answer", locals: {answer: answer} %>
    <% end %>
  </td>
  <td><%= word.category.name %></td>
</tr>
