<div class="panel panel-success">
  <div class="panel-heading">
    <%= t "category.all" %>
  </div>
  <div class="panel-body">
    <div class="row">
      <% @categories.each_with_index do |category, index| %>
        <%= render partial: "category", locals:
          {category: category, index: index} %>
      <% end %>
    </div>
  </div>
</div>
